# Ignore virtual environment directories
venv/
env/
FaceIt/


# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Windows files
Thumbs.db

